.sp-result-message
  padding: 20px 0
  text-align: center
  font-weight: bold
  color: #999
.sp-container
  min-width: 300px
  display: inline-flex
  overflow: hidden
  flex-direction: column
  font-family: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","Microsoft YaHei","微软雅黑",sans-serif
  .sp-list-view
    display: flex
    flex-direction: column

.sp-message
  display: flex
  align-items: center
  padding: 10px 0
  background-color: #E4EAEE
  color: black
  flex-grow: 1
  .bi-chat-left-dots
    font-size: 1.2rem
    margin: 0 1rem
  .sp-message-body
    font-size: 14px
    line-height: 1
    flex-wrap: wrap
    max-width: 15rem
.sp-message-slide-enter-active,
.sp-message-slide-leave-active
  transition: opacity 300ms
.sp-message-slide-enter,
.sp-message-slide-leave-to
  opacity: 0
.sp-message-slide-enter-to,
.sp-message-slide-leave
  opacity: 1

.sp-icon
  width: 1em
  height: 1em
  &.sp-icon-small
    font-size: 1rem
  &.sp-icon-medium
    font-size: 1.3rem

.sp-trigger-container
  display: inline-block

.sp-default-trigger
  display: inline-flex
  align-items: center
  padding: 6px 12px
  background-color: white
  border: 1px solid #ddd
  border-radius: .3rem
  font-size: 14px
  line-height: 1.42857143
  outline: 0 !important
  color: #666
  cursor: pointer
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  &:hover
    border: 1px solid #aaa
    color: black
  .sp-caret-down
    transition: transform .2s ease
  .sp-clear-btn
    margin-left: 5px
    line-height: 1
    &:hover
      font-weight: bold
  &.sp-opened
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08)
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.3)
    border: 1px solid #666
    color: black
    .sp-caret-down
      transform: rotate(180deg)
    &:hover
      border: 1px solid #666
.sp-caret-down
  display: inline-block
  width: 0
  height: 0
  margin-left: 5px
  border-top: 4px solid
  border-left: 4px solid transparent
  border-right: 4px solid transparent
  vertical-align: middle
  content: ""
