.sp-list
  min-width: 300px
  max-height: 320px
  overflow-y: auto
  transition: all .3s ease
  // background-color: #f7f7f7
  // padding-top: .3rem
  .sp-list-item
    display: flex
    align-items: center
    justify-content: space-between
    line-height: 1.43
    font-size: 14px
    text-align: left
    overflow: hidden
    white-space: nowrap
    margin: 0
    padding: 0.2rem 0.7rem
    color: #666
    cursor: pointer
    transition: all .2s ease
    &.sp-over
      background-color: #F6F8FA !important
      color: black !important
    &.sp-selected
      color: #ccc
      cursor: default
    &.sp-rtl
      direction: rtl
      text-align: right
