.sp-pagination
  // font-family: fonts
  padding: 0
  background-color: #f7f7f7
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 5px
  .sp-page-info
    height: 28px
    line-height: 28px
    font-weight: 400
    color: #333
    font-size: 14px
    padding-left: 10px
    padding-right: 10px
  ul
    padding: 0
    margin: 0
    li
      display: inline-flex
      a
        display: inline-flex
        padding: 7px
        font-size: 14px
        color: #6a737d
        text-decoration: none
        cursor: pointer
        line-height: 1
        background: transparent
        transition: all .3s ease
        &:hover
          color: black
          font-weight: bold
      &.sp-disabled a
        color: #ddd
        font-weight: normal
        /*cursor: not-allowed*/
