.sp-search
  display: flex
  align-items: center
  // margin: 10px
  padding: 2px 10px 2px 5px
  transition: all .3s ease
  border-bottom: 1px solid #eee
  .sp-search-container
    display: flex
    align-items: center
    flex-grow: 1
    padding: 5px 10px
    // background-color: #f1f1f1
    // border: 1px solid #ddd
    // border-radius: .3rem
    // border-radius: 50rem
    transition: all .3s ease
    .sp-search-input
      // display: block
      border: 0
      // background-color: #eee
      background-color: transparent
      margin-left: 5px
      font-size: 14px
      line-height: 1.43
      padding: 4px 6px
      box-sizing: border-box
      outline: none !important
      color: #777
      flex-grow: 1
      // will-change: border-color, box-shadow, background-color
      // transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out
      &:focus
        // background-color: #f5f5f5
      &.sp-search-input--rtl
        direction: rtl
    .sp-icon-loading
      opacity: .5
    .bi-search,
    .bi-x-lg
      transition: all .3s ease
      color: #aaa
      &.sp-search-in-focus
        color: #000
    .bi-x-lg
      cursor: pointer
      &:hover
        color: #000

  .sp-search-control
    display: inline-flex
    flex-grow: 0.001
    transition: all .3s ease
    .bi-trash
      color: #999
      cursor: pointer
      transition: all .3s ease
      margin-left: 10px
      &:hover
        color: #000
