$row-radius: .4rem

.sp-table
  padding: 0 .3rem
  min-width: 300px
  max-height: 320px
  overflow-y: auto
  table
    width: 100%
    border-spacing: 0
    td,
    th
      font-size: 14px
      line-height: 1.43
      border: 0 !important
    th
      padding: 0 8px 5px
      font-weight: 600
      font-size: 15px
      color: #333
      text-align: left
    td
      padding: .25rem .5rem
      color: #666
      cursor: pointer
    tbody tr
      &.sp-over td
        background-color: #F6F8FA !important
        color: black !important
        &:first-child
          border-top-left-radius: $row-radius
          border-bottom-left-radius: $row-radius
        &:last-child
          border-top-right-radius: $row-radius
          border-bottom-right-radius: $row-radius
      &.sp-selected td
        color: #ccc
        cursor: default
    thead .sp-rtl th,
    tbody .sp-rtl td
      direction: rtl
      text-align: right
